# General
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# C++
build/
bin/
obj/
out/
*.o
*.so
*.a
*.exe
*.dll
*.log
.env*

# Node.js
node_modules/
dist/
build/
*.log
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.pnp
.pnp.js
.pnp.cjs
